[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
ipykernel = "*"
ipython = "*"
tqdm = "*"
matplotlib = "*"
ipdb = "*"
sklearn = "*"
numpy = "*"
torch = "==1.6.0"
pytorch-lightning = "==1.0.4"
lightgbm = "*"
test-tube = "*"
pytest = "*"
dask = {extras = ["dataframe"],version = "*"}
distributed = "*"
bokeh = "*"
dask-ml = "*"
dask-lightgbm = "*"
dask-xgboost = "*"
pyarrow = "*"

[requires]
python_version = "3.7"

[scripts]
eval_torch = "python -m src.torch.eval_model"
train_torch = "python -m src.torch.train_model"
train_sklearn = "python -m src.sklearn.main"
tests = "python -m pytest tests"
