[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
ipykernel = "*"
ipython = "*"
tqdm = "*"
matplotlib = "*"
ipdb = "*"
sklearn = "*"
numpy = "*"
torch = "*"
pytorch-lightning = "*"
lightgbm = "*"
test-tube = "*"
pytest = "*"
modin = {extras = ["all"],version = "*"}

[requires]
python_version = "3.7"

[scripts]
sklearn = "python -m src.sklearn.main"
tests = "python -m pytest tests"
